body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logo {
  padding: 0px 7px;
  border-radius: 10px;
  border-left: solid 2px #fff;
}

.header-bg {
  background-color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0px auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  color: #fff;
  font-size: 1.125rem;
  padding: 16px 4px;
  display: inline-block;
  border-radius: 10px;
}

.header-menu a:hover {
  background: rgb(58, 58, 58);
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
  .header-menu {
    gap: 80px;
  }
  .header-menu a {
    padding: 12px 14px;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 60px;
  }

  .header {
    gap: 20px;
  }

  .header-menu a {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .header-menu {
    gap: 40px;
  }
}
